%h1.content-header Listing logs

%table.table.table-striped
  %tr
    %th
      Start observation

%table.table.table-striped
  %tr
    %th
      Observation preparation

%table.table.table-striped
  %tr
    %th
      Scan

%table.table.table-striped
  %tr
    %th
      Subscan

%table.table.table-striped
  %tr
    %th
      End observation
