%h1 Listing logs

%table.table.table-striped
  %tr
    %th Timestamp
    %th Tag
    %th Routine
    %th Cdata

  - @logs.each do |log|
    %tr
      %td{nowrap: 'nowrap'}= log.timestamp
      %td= log.tag
      %td
        - if log.routine == 'sendExecBlockStartedEvent' || log.routine == 'sendExecBlockEndedEvent'
          %strong=log.routine
        - else
          =log.routine
      %td{nowrap: 'nowrap'}
        = log.cdata.force_encoding('UTF-8').encode('UTF-16', :invalid => :replace, :replace => '?').encode('UTF-8') if ! Nokogiri::XML(log.cdata.to_s).errors.empty?
